.breadcrumbs-wrap {
  font-size: rem-calc(14px);
  padding: 1rem 0;
  line-height: 1;
  text-transform: uppercase;
  background-color: darken($brand-primary, 10);

  .breadcrumb-trail {
    color: #CCE3E9;
  }

  a {
    color: inherit;
  }
}

.breadcrumbs {
  padding-left: 1rem;
  padding-right: 1rem;
}

.breadcrumbs.breadcrumbs .trail-browse {
  display: none;
}

.breadcrumbs.breadcrumbs .trail-item,
.breadcrumbs.breadcrumbs .trail-items a {
  font-weight: 700 !important;
}

.breadcrumbs.breadcrumbs .trail-items a {
  display: inline-block;
  padding: 0;
  color: inherit;
  text-decoration: underline;
  font-size: rem-calc(14px);
}

.breadcrumbs .trail-items .trail-item:not(:last-of-type)::after {
  display: inline-block;
  margin: 0 5px;
  color: inherit;
  content: '\003E';
}
