.breadcrumbs-wrap {
  font-size: rem-calc(14px);
  padding: 0.75em 0;
  line-height: 1;
  text-transform: uppercase;
  background-color: $color-blue-dark;

  .breadcrumb-trail {
    color: $color-teal-light;
  }

  a {
    color: inherit;
  }
}

.breadcrumbs {
  padding-left: 1em;
  padding-right: 1em;
}

.breadcrumbs.breadcrumbs .trail-browse {
  display: none;
}

.breadcrumbs.breadcrumbs .trail-item,
.breadcrumbs.breadcrumbs .trail-items a {
  font-weight: 600 !important;
}

.breadcrumbs.breadcrumbs .trail-items a {
  display: inline-block;
  padding: 0;
  color: inherit;
  text-decoration: underline;
  font-size: rem-calc(14px);

  &:hover, &:focus {
    text-decoration-style: double;
  }
}

.breadcrumbs .trail-items .trail-item:not(:last-of-type)::after {
  display: inline-block;
  margin: 0 5px;
  color: inherit;
  content: '\003E';
}
