.breadcrumbs-wrap {
  font-size: rem-calc(14px);
  padding: 0.75em 0;
  line-height: 1;
  text-transform: uppercase;
  background-color: $color-blue-dark;

  .breadcrumb-trail {
    color: $color-teal-light;
  }

  a {
    color: inherit;
  }
}

.breadcrumbs {
  padding-left: 1em;
  padding-right: 1em;
}

.breadcrumbs.breadcrumbs .trail-browse {
  display: none;
}

.breadcrumbs.breadcrumbs .trail-items a {
  display: inline-block;
  padding: 0;
  color: inherit;
  text-decoration: underline;
  font-size: rem-calc(14px);

  &:hover, &:focus {
    text-decoration-style: double;
  }
}

.breadcrumbs .trail-items .trail-item:not(:last-of-type)::after {
  display: inline-block;
  margin: 0 5px;
  color: inherit;
  content: '\003E';
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,.breadcrumbs .trail-items li {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  text-indent: 0;
}

.breadcrumbs .trail-browse {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

.breadcrumbs .trail-items {
  list-style: none;
}

.trail-items li::after {
  content: "\002F";
  padding: 0 0.5em;
}

.trail-items li:last-of-type::after {
  display: none;
}
