button,
a[role="button"] {
  &:focus {
    box-shadow: inset 0 0 0 3px $color-teal !important;
  }
}

.btn,
a.btn {
  box-shadow: none;
  border-color: currentColor;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  background-color: transparent;
  color: $color-grey;
  font-size: rem-calc(14);
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: none;
  }

  &:not(.btn-small) {
    padding: 0.5rem 2rem;
  }
}

.btn--orange,
a.btn--orange {
  color: $color-orange-a11y;

  &:hover,
  &:focus {
    background-color: $color-orange-a11y;
    color: $color-white;
  }
}

.btn--white,
a.btn--white {
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $brand-primary;
  }
}

.btn--grey,
a.btn--grey {
  color: $color-grey;

  &:hover,
  &:focus {
    background-color: $color-grey;
    color: $color-white;
  }
}

// Menu toggle
.btn-toggle {
  padding: 0.5rem 0.75rem;
  border: 0;
  font-size: 1.5rem;
  margin-right: 1rem;

  > i {
    font-size: inherit;
  }
}

// Beaver Builder
.fl-builder-content a.fl-button {
  @extend .btn;
  @extend .btn--orange;

  border-color: currentColor;
  border-style: solid;
  border-width: 1px;
  font-size: rem-calc(14);
}
