.county-map {
  position: relative;
  background-color: $color-beige-med;
  min-height: 440px;

  .js-map {
    display: flex;
    max-width: 1200px;
    padding: 3rem 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transform: translate3d(0, 0, 0);

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .js-accordion {
    position: relative;
    width: 100%;
  }

  @media #{$medium-and-up} {
    .js-accordion {
      max-width: 350px;
      z-index: 10;
    }
  }
}

.counties {
  &__inactive {
    path {
      fill: $color-beige-light;
      stroke: $color-beige-med;
    }
  }

  &__active {
    cursor: pointer;
  }
}

.a,
.b,
.c,
.d,
.e {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.521px;
}

.b,
.c,
.d,
.e {
  stroke: #1A1818;
}

[data-county="chatham"] {
  fill: $color-beige-dark;
}

[data-county="durham"] {
  fill: $color-green-a11y;
}

[data-county="orange"] {
  fill: $color-orange;
}

[data-county="wake"] {
  fill: $color-blue;
}

.js-accordion [aria-selected] {
  padding: 0.75rem 1rem;
  border: 0;
  width: 100%;

  // all button
  &:nth-of-type(1) {
    background-color: $color-grey-dark;
  }

  // chatham button
  &:nth-of-type(2) {
    background-color: $color-beige-darker;
  }

  // durham button
  &:nth-of-type(3) {
    background-color: $color-green-a11y;
  }

  // orange button
  &:nth-of-type(4) {
    background-color: $color-orange-a11y;
  }

  // wake button
  &:nth-of-type(5) {
    background-color: $color-blue;
  }
}

.js-accordion__panel[aria-hidden="true"] {
  display: none;
}

.js-accordion__panel[role="tabpanel"] {
  padding: 0;
}

.js-accordion__panel-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 15px;
  color: white;
  z-index: 0;

  a {
    color: inherit;
    text-decoration: underline;
    margin-top: 1rem;
  }

  .percentage {
    font-family: $sans-condensed;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.25;

    sup {
      font-size: rem-calc(52);
      top: -1.5rem;
    }
  }

  .amount {
    @extend .h2;

    sub {
      top: 0;
      margin-left: 0.15rem;
      font-size: 1.5rem;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
  }

  &--all::after {
    background-color: rgba($color-black, 0.5);
  }

  &--chatham::after {
    background-color: rgba($color-beige-darker, 0.4);
  }

  &--durham::after {
    background-color: rgba($color-green-a11y, 0.4);
  }

  &--orange::after {
    background-color: rgba($color-orange-a11y, 0.4);
  }

  &--wake::after {
    background-color: rgba($color-blue, 0.4);
  }
}

.js-accordion__panel[role="tabpanel"] .js-accordion__header {
  display: none;
}

button.js-accordion__header {
  display: block !important;
  position: relative;
  text-transform: uppercase;
  font-size: rem-calc(15);
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.js-accordion__header::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.js-accordion__header[aria-expanded="true"]::after {
  content: " -";
}

.js-accordion__header[aria-expanded="false"]::after {
  content: " +";
}
