.county-map {
  position: relative;
  background-color: #BCBEBC;
  min-height: 440px;

  .js-map {
    display: flex;
    max-width: 1200px;
    padding: 3rem 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .js-accordion {
    position: relative;
    width: 100%;
  }

  @media #{$medium-and-up} {
    .js-accordion {
      max-width: 350px;
      margin-left: 10vw;
      z-index: 10;
    }
  }
}

.counties {
  &__inactive {
    path {
      fill: #F5F4F3;
      stroke: #9A9D9A;
    }
  }
}

.a,
.b,
.c,
.d,
.e {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.521px;
}

.b,
.c,
.d,
.e {
  stroke: #1A1818;
}

[data-county="chatham"] {
  fill: #585D58;
}

[data-county="durham"] {
  fill: #AFBD00;
}

[data-county="orange"] {
  fill: #E56E00;
}

[data-county="wake"] {
  fill: #00525F;
}

.js-accordion [aria-selected] {
  padding: 0.75rem 1rem;
  border: 0;
  width: 100%;

  // all button
  &:nth-of-type(1) {
    background-color: darken($color-grey, 20);
  }

  // chatham button
  &:nth-of-type(2) {
    background-color: #5A4F42;
  }

  // durham button
  &:nth-of-type(3) {
    background-color: #7A7B0C;
  }

  // orange button
  &:nth-of-type(4) {
    background-color: #C75300;
  }

  // wake button
  &:nth-of-type(5) {
    background-color: #00525F;
  }
}

.js-accordion__panel[aria-hidden="true"] {
  display: none;
}

.js-accordion__panel[role="tabpanel"] {
  padding: 0;
}

.js-accordion__panel-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  color: white;
  z-index: 0;

  a {
    color: inherit;
    text-decoration: underline;
    margin-top: 1rem;
  }

  .percentage {
    font-family: "Open Sans Condensed", $sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 1.25;

    sup {
      font-size: rem-calc(52);
      top: -1.5rem;
    }
  }

  .amount {
    @extend .h2;

    sub {
      top: 0;
      margin-left: 0.15rem;
      font-size: 1.5rem;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
  }

  &--all::after {
    background-color: transparentize(#000, 0.4);
  }

  &--chatham::after {
    background-color: transparentize(#5A4F42, 0.4);
  }

  &--durham::after {
    background-color: transparentize(#7A7B0C, 0.4);
  }

  &--orange::after {
    background-color: transparentize(#C75300, 0.4);
  }

  &--wake::after {
    background-color: transparentize(#00525F, 0.4);
  }
}

.js-accordion__panel[role="tabpanel"] .js-accordion__header {
  display: none;
}

button.js-accordion__header {
  display: block !important;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-size: rem-calc(15);
  font-weight: 700;
  color: white;
}

.js-accordion__header::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.js-accordion__header[aria-expanded="true"]::after {
  content: " -";
}

.js-accordion__header[aria-expanded="false"]::after {
  content: " +";
}
