label {
  font-size: 1rem;

  @media #{$medium-and-up} {
    font-size: 0.8rem;
  }
}

textarea {
  font-size: 1rem;
}

select:not(.browser-default) {
  display: block;
  font-size: 1rem;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: rem-calc(37);
  margin: 0;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $color-grey;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-white;
  color: $color-grey;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007485%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;

  // Hide arrow icon in IE
  ::-ms-expand {
    display: none;
  }

  option {
    font-size: 1rem;
    font-weight: normal;
    color: inherit;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #63ABB7 !important;
    box-shadow: 0 1px 0 0 #63ABB7 !important;
  }
}

.wp-search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  input[type="search"] {
    border-color: $color-beige-med;
    background-color: $color-white;
    color: $color-beige-darker;
    height: 42px;
    width: 100%;
    padding-right: 40px;
    margin: 0;

    &::placeholder {
      color: $color-beige-darker;
      text-transform: uppercase;
    }
  }

  button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    background-color: $brand-primary;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-blue-dark;
    }

    .material-icons {
      font-size: rem-calc(24);
      line-height: 0;
    }
  }
}

// Gravity Forms
.gform_body {
  label {
    color: inherit;
  }
}

.gfield_html {
  margin-bottom: 0 !important;
}

.gsection {
  margin-top: 40px;

  h2 {
    margin: 0;
  }
}

.gform_fields li {
  padding-left: 0 !important;
  margin-bottom: 1.5rem;

  &::before {
    display: none !important;
  }
}

.gfield {
  legend {
    @extend .h3;
  }

  label {
    font-weight: 600;

    .uabb-gf-style .gform_wrapper & {
      line-height: inherit;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $color-grey;
    color: inherit;
    height: 2rem;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    &:focus {
      border-bottom: 1px solid $color-teal !important;
      box-shadow: 0 1px 0 0 $color-teal !important;
    }

    &::placeholder {
      color: inherit;
    }
  }

  textarea {
    height: auto;
  }
}

.gsection_title {
  color: $color-orange-a11y;
  font-family: $sans-condensed;
}

.ginput_counter {
  font-size: 0.8em;
}

.gform_footer input[type="submit"] {
  @extend .btn;
  @extend .btn--orange;

  div[class*="fl-node-"] .uabb-gf-style .gform_wrapper & {
    @extend .btn;
    @extend .btn--orange;
  }
}

.gform_save_link {
  padding: 0.5rem 2rem;
}

.gform_validation_container {
  display: none;
  position: absolute;
  left: -9000px;
}

.gfield_required {
  color: $error-color;
}

.gfield_error .validation_message,
.gform_validation_error #error {
  padding: 1rem;
  background-color: lighten($error-color, 55);
  color: $error-color;

  a {
    color: inherit;
  }
}

.gfield_error input,
.gfield_error textarea,
.gfield_error select {
  border-color: $error-color !important;
}

.gfield_radio, .gfield_checkbox {
  margin-bottom: 0 !important;

  li {
    margin-bottom: 0.25rem;

    &::before {
      display: none;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    + label {
      color: $color-grey;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 0.8rem;
      font-weight: normal;
      transition: 0.3s ease;
      user-select: none;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: 0.28s ease;
        border-radius: 50%;
        border: 2px solid rgba($brand-primary, 0.4);
        content: '';
      }
    }

    &:not(:checked):focus {
      + label {
        &::before {
          @extend .z-depth-1;
        }
      }
    }
  }

  input[type="radio"] {
    &:not(:checked) {
      + label {
        &::after {
          transform: scale(0);
        }
      }
    }

    &:checked {
      + label {
        &::before {
          border: 2px solid $brand-primary;
        }

        &::after {
          border: $brand-primary;
          background-color: $brand-primary;
          transform: scale(0.5);
        }
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &::after {
        display: none;
      }

      &::before {
        width: 18px;
        height: 18px;
        border-radius: 1px;
        margin: 3px 0 0 0;
      }
    }

    &:checked {
      + label {
        &::before {
          top: -4px;
          left: -5px;
          width: 12px;
          height: 22px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right-color: $brand-primary;
          border-bottom-color: $brand-primary;
          transform: rotate(40deg);
          backface-visibility: hidden;
          transform-origin: 100% 100%;
        }
      }
    }
  }
}

// Donate Form
#gform_1 {
  .ginput_complex {
    > * {
      display: block;
      margin-bottom: 0.5rem;
    }

    @media #{$medium-and-up} {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.5rem;

      .gf_clear_complex {
        display: none;
      }

      > * {
        flex-grow: 1;
        padding: 0 0.5rem;
        margin-bottom: 0.25rem;
      }
    }

    .name_prefix,
    .name_middle,
    .name_suffix {
      flex-basis: 15%;
    }

    .address_line_1,
    .address_line_2 {
      flex-basis: 50%;
    }

    .address_zip {
      flex-basis: 0;
    }
  }

  .gift-amount .instruction {
    @extend .screen-reader-text;
  }

  .gfield_calculation {
    display: none;
  }
}
