.impact-figure {
  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 275px;
    padding: 0;
    margin: 0;
    z-index: 0;

    &__title {
      max-width: 325px;
      width: 100%;
    }

    a {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      text-decoration: none !important;
      color: white;

      &:hover,
      &:focus {
        text-decoration: none !important;
      }

      &::after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        z-index: -1;
      }
    }

    img {
      position: relative;
      margin: 3rem 1.5rem;
      width: 140px;
      z-index: 10;
      pointer-events: none;
    }
  }
}

.impact-figure--teal {
  .bg-cover {
    background-color: #007486;
  }

  .impact-figure__title {
    background-color: #00525F;

    a::after {
      background-color: rgba(#00525F, 0.25);
    }
  }
}

.impact-figure--green {
  .bg-cover {
    background-color: #AFBD00;
  }

  .impact-figure__title {
    background-color: #859002;

    a::after {
      background-color: rgba(#859002, 0.25);
    }
  }
}

.impact-figure--orange {
  .bg-cover {
    background-color: #E56E00;
  }

  .impact-figure__title {
    background-color: #C75300;

    a::after {
      background-color: rgba(#C75300, 0.25);
    }
  }
}

.impact-figure--brown {
  .bg-cover {
    background-color: #897966;
  }

  .impact-figure__title {
    background-color: #716557;

    a::after {
      background-color: rgba(#716557, 0.25);
    }
  }
}

.impact-figure--grey {
  .bg-cover {
    background-color: #585D58;
  }

  .impact-figure__title {
    background-color: #414141;

    a::after {
      background-color: rgba(#414141, 0.25);
    }
  }
}
