.impact-figure {
  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 275px;
    padding: 0;
    margin: 0;
    z-index: 0;

    &__title {
      max-width: 325px;
      width: 100%;
    }

    a {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      text-decoration: none !important;
      color: white;

      &:hover,
      &:focus {
        text-decoration: none !important;
        outline: 0;
      }

      &:focus::after {
        outline: 2px solid currentColor;
        outline-offset: 3px;
        box-shadow: 0;
      }

      &::after {
        z-index: -1;
      }
    }

    img {
      position: relative;
      margin: 3rem 1.5rem;
      width: 140px;
      z-index: 10;
      pointer-events: none;
      transform: translateY(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover,
    &:focus-within {
      img {
        transform: translateY(-10px);
      }
    }
  }
}

.impact-figure--teal {
  .bg-cover {
    background-color: #007486;
  }

  .impact-figure__title {
    background-color: #00525F;

    a::after {
      background-color: rgba(#00525F, 0.75);
      color: #00525F;
    }
  }
}

.impact-figure--green {
  .bg-cover {
    background-color: #AFBD00;
  }

  .impact-figure__title {
    background-color: #859002;

    a::after {
      background-color: rgba(#859002, 0.75);
      color: #859002;
    }
  }
}

.impact-figure--orange {
  .bg-cover {
    background-color: #E56E00;
  }

  .impact-figure__title {
    background-color: #C75300;

    a::after {
      background-color: rgba(#C75300, 0.75);
      color: #C75300;
    }
  }
}

.impact-figure--brown {
  .bg-cover {
    background-color: #897966;
  }

  .impact-figure__title {
    background-color: #716557;

    a::after {
      background-color: rgba(#716557, 0.75);
      color: #716557;
    }
  }
}

.impact-figure--grey {
  .bg-cover {
    background-color: #585D58;
  }

  .impact-figure__title {
    background-color: #414141;

    a::after {
      background-color: rgba(#414141, 0.75);
      color: #414141;
    }
  }
}
