.tabbed [role="tablist"] {
  padding: 0;
  margin: 30px 0 0;
}

.tabbed [role="tablist"] li,
.tabbed [role="tablist"] a {
  display: inline-block;
}

.tabbed [role="tablist"] a {
  @extend .h3;

  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: $color-beige-med;
  color: $color-beige-darker;
}

.tabbed [role="tablist"] [aria-selected] {
  position: relative;
  background-color: $color-white;
}

.tabbed [role="tabpanel"] {
  padding: 4rem 2rem;
}

.tabbed [role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

@media (max-width: 767px) {
  .tabbed [role="tablist"] li,
  .tabbed [role="tablist"] a {
    display: block;
    position: static;
  }

  .tabbed [role="tablist"] [aria-selected] {
    position: static;
  }

  .tabbed [role="tablist"] [aria-selected]::after {
    content: '\0020⬅';
  }
}
