body {
  color: $color-grey;
  font-family: $sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;

  @include antialiased();

  // Skip to content link.
  > a[href="#content"] {
    @extend .btn;
    @extend .btn--orange;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

address {
  font-style: normal;
}

dl {
  margin: 1rem 0;
}

dt,
dd {
  margin: 0;
}

sup {
  top: -0.25em;
}

nav {
  box-shadow: none;
  background-color: transparent;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba($brand-primary, 0.25);
}

figure {
  margin: 1rem 0 2rem;

  figcaption {
    font-style: italic;
  }
}
