// Font size utility classes.
$sizes: (
  'h1': 3rem,
  'h2': 1.5rem,
  'h3': 1.25rem,
  'h4': 1.125rem,
  'h5': 1.0725rem,
  'h6': 1rem,
);

@each $heading, $size in $sizes {
  #{$heading},
  .#{$heading} {
    font-size: $size;
    font-family: $sans-condensed;
    font-weight: bold;
    letter-spacing: 0;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

h2 {
  color: $color-blue;
}

a {
  color: $brand-primary;
  text-decoration: underline;
  transition: all 0.3s;

  &:hover, &:active {
    text-decoration-style: double;
  }
}

blockquote {
  font-size: rem-calc(20);
  line-height: rem-calc(28);
  color: $brand-primary;
  margin: 1.5rem 0;

  p:last-of-type() {
    margin: 0;
    padding: 0;
  }
}

.uabb-testimonial.uabb-testimonial {
  padding: 0;
  background: none;
}

.uabb-testimonial-author-description {
  font-size: rem-calc(36);
  color: $color-green-a11y;
  line-height: 1.3em;
  margin-bottom: 0.3em;
}

.uabb-testimonial-author {
  @extend h6;

  .uabb-testimonial-author-name::before {
    content: '\2014';
  }
}

.wp-block-quote {
  max-width: 550px;

  &.has-text-align-left,
  &.has-text-align-right {
    border: 0;
  }

  &.has-text-align-left {
    margin-right: auto;
  }

  &.has-text-align-right {
    margin-left: auto;
  }
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-transform-none {
  text-transform: none;
}

.text-orange {
  color: $color-orange-a11y;
}

// Font weight utility classes.
$weights: (400, 600, 700);

@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

.entry-content ul:not(.select-dropdown, .gform_fields) {
  margin-bottom: 2rem;

  li {
    list-style: none;
    position: relative;
    padding-left: 30px;
  }

  ul {
    margin-bottom: 0 !important;
  }
}
