h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  margin-top: 0;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans Condensed", $sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

blockquote {
  font-size: rem-calc(20);
  line-height: rem-calc(28);
  font-family: 'PT Serif', sans-serif;
  color: $brand-primary;
  margin: 1.5rem 0;

  p:last-of-type() {
    margin: 0;
    padding: 0;
  }
}

.wp-block-quote {
  max-width: 550px;

  &.has-text-align-left,
  &.has-text-align-right {
    border: 0;
  }

  &.has-text-align-left {
    margin-right: auto;
  }

  &.has-text-align-right {
    margin-left: auto;
  }
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-transform-none {
  text-transform: none;
}

.text-orange {
  color: $color-orange;
}

// Font size utility classes.
$sizes: (
  'h1': 3rem,
  'h2': 1.5rem,
  'h3': 1.25rem,
  'h4': 1.125rem,
  'h5': 1.0725rem,
  'h6': 1rem,
);

@each $heading, $size in $sizes {
  #{$heading},
  .#{$heading} {
    font-size: $size;
  }
}

// Font weight utility classes.
$weights: (400, 600, 700);

@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

.entry-content ul:not(.select-dropdown, .gform_fields) {
  margin-bottom: 2rem;

  li {
    list-style: none;
    position: relative;
    padding-left: 30px;
  }
}

// .entry-content ul:not(.select-dropdown) li::before {
//   display: block;
//   position: absolute;
//   font-size: 16px;
//   color: $color-orange;
//   left: 8px;
//   content: '\25b6';
// }
