// Colors
$color-yellow: #FFE153;
$color-blue: #007485;
$color-teal: #63ABB7;
$color-orange: #E36F1E;
$color-grey: #585D58;
$color-beige: #E7E4E0;

$brand-primary: #007485;
$brand-secondary: #E36F1E;

// Typography
$sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

// Misc
$focus-box-shadow: inset 0 0 0 4px lightblue;
