// Colors
$color-yellow:      #FFE153;
$color-blue-dark:   #004852;
$color-blue:        #007485;
$color-teal-a11y:   #368093;
$color-teal:        #63ABB7;
$color-teal-light:  #CCE3E9;
$color-orange-a11y: #C75300;
$color-orange:      #E36F1E;
$color-orange-light:#FAE3D3;
$color-green-a11y:  #8F9D10;
$color-green-light: #EFF1D2;
$color-grey-dark:   #414141;
$color-grey:        #585D58;
$color-grey-light:  #D9D9D9;
$color-beige-darker:#4E4130;
$color-beige-dark:  #94836E;
$color-beige-med:   #B8AEA3;
$color-beige:       #E7E4E0;
$color-beige-light: #F5F4F3;
$color-white:       #FFF;

$brand-primary:     $color-blue;
$brand-secondary:   $color-orange;

// Typography
$sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$sans-condensed: "Open Sans Condensed", $sans-serif;

// Grid
$large-and-down: 'only screen and (max-width: 993px)';
