// Colors
$color-yellow: #FFE153;
$color-blue: #007485;
$color-orange: #E36F1E;
$color-grey: #707070;

$brand-primary: #007485;
$brand-secondary: #E36F1E;

// Typography
$sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
