/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: $spacer auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: 1rem;
  height: auto;
}

.alignwide {
  margin-left: 0;
  margin-right: 0;
}

@media #{$medium-and-up} {
  .alignleft {
    float: left;
    margin-right: 1rem;
  }

  .alignright {
    float: right;
    margin-left: 1rem;
  }
}

/** Captions */
.wp-caption {
  width: 100% !important;
  max-width: 992px;
}

.wp-caption img {
  margin-bottom: 0;
}
