.archive-wrap {
  position: relative;
  top: -3rem;
  margin-bottom: -3rem;
  background-color: $color-beige;

  &__inner {
    width: 100%;
    background-color: white;
    padding: 1rem;
    margin-bottom: 4rem;

    @media #{$large-and-up} {
      padding: 2rem 80px;
    }
  }
}

.archive-filters {
  a {
    @extend .h2;

    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #D0C9C2;
    color: #585D58;

    &.active {
      background-color: white;
    }
  }
}

.pagination .page-numbers {
  color: $color-grey !important;
  display: inline-block;
  min-width: 40px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
