.archive {
  .page-header--w-intro {
    margin-bottom: 0;
  }
}

.archive-wrap {
  position: relative;
  background-color: $color-beige;

  &__inner {
    width: 100%;
    background-color: $color-white;
    padding: 1rem;
  }

  .blog & {
    padding-bottom: 3rem;
  }

  @media #{$large-and-up} {
    padding: 3rem 0;

    &__inner {
      padding: 2rem 3rem;
    }

    & + .entry-footer {
      position: relative;
      top: -3rem;
      margin-bottom: -3rem;
    }
  }
}

.archive-filters {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__filter {
    @extend .h3;

    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: $color-beige-med;
    color: $color-beige-darker;
    text-decoration: none;

    &:hover:not(.active),
    &:focus:not(.active) {
      background-color: lighten($color-beige-med, 10%);
    }

    &.active {
      background-color: $color-white;
    }
  }

  .btn {
    margin-right: 0;
  }
}

.pagination .page-numbers {
  color: $color-grey !important;
  display: inline-block;
  min-width: 40px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

// Tweets
.tweets {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__heading {
    @extend .h2;

    margin-left: calc(2rem + 10px);
    margin-bottom: 0.5rem;
  }

  &__wrap {
    padding: 2rem;
    background-color: $color-beige;
  }

  &__item {
    padding: 0 0.5rem;
  }

  &__item:not(:last-of-type()) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: inline-block;
    vertical-align: bottom;

    path {
      fill: $brand-primary;
    }
  }

  .twitter-stat {
    margin-right: 2rem;

    &::before {
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 0.5rem;
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      content: '';
    }

    &--like::before {
      background-image: url('../images/icons/icon-twitter-like.svg');
    }

    &--retweet::before {
      background-image: url('../images/icons/icon-twitter-retweet.svg');
    }
  }

  @media #{$medium-and-up} {
    &__wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__item:not(:last-of-type()) {
      margin-bottom: 0;
    }
  }
}
