.archive-wrap {
  position: relative;
  top: -3rem;
  margin-bottom: -3rem;
  background-color: $color-beige;

  .container {
    max-width: 940px;
  }

  &__inner {
    width: 100%;
    background-color: $color-white;
    padding: 1rem;
    margin-bottom: 4rem;

    @media #{$large-and-up} {
      padding: 2rem 80px;
    }
  }
}

.archive-filters {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }

  &__filter {
    @extend .h3;

    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: $color-beige-med;
    color: $color-beige-darker;

    &.active {
      background-color: $color-white;
    }
  }

  .btn {
    margin-right: 0;
  }
}

.pagination .page-numbers {
  color: $color-grey !important;
  display: inline-block;
  min-width: 40px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
