.template-awards {
  main header {
    margin-bottom: 4rem;
  }

  .row__table {
    max-width: 1100px;
    margin: 0 auto;
  }

  .search-wrap {
    color: $color-grey;

    label {
      font-size: 1.125rem;
      font-weight: 600;
    }

    label,
    input {
      color: inherit;
    }

    input {
      margin-top: 0.5rem;
      border-color: $brand-primary;

      &::placeholder {
        color: inherit !important;
      }

      &:focus {
        box-shadow: 0 2px 0 0 $brand-primary !important;
      }
    }
  }

  .page-footer {
    margin-top: 4rem;
  }
}

.single-award .entry-content {
  h2 {
    @extend .h4;

    letter-spacing: 0;
    margin-bottom: 0;
  }

  .award-detail-text {
    @extend .h2;

    text-transform: none;
    letter-spacing: 0;
    color: $color-orange-a11y;
  }
}

.single-award .entry-pre-footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: $color-beige-dark;
  color: $color-white;
}
