.template-events {
  .main {
    background-color: $color-beige;

    @media #{$large-and-up} {
      padding-bottom: 3rem;
    }
  }

  .tabbed {
    max-width: 940px;
    margin: 0 auto;
  }

  [role="tabpanel"] {
    background-color: $color-white;
  }

  .event-grouping {
    position: relative;
    border-top: 1px solid $color-teal;
    padding: 1rem 0;

    &__subhead {
      color: #E56E00;
      font-size: 1rem;
      font-weight: bold;
    }

    &__content {
      width: 100%;
    }

    &__image {
      max-width: 250px;
      width: 100%;
    }
  }
}

@media #{$medium-and-up} {
  .event-grouping {
    &__content {
      flex-grow: 1;
    }

    &__image {
      margin-left: 2rem;
      flex-shrink: 0;
    }
  }
}

// Featured Event
.featured-event {
  background-color: $color-blue-dark;
  color: $color-white;

  .content-wrap {
    padding: 2rem 1rem;
  }
}

@media #{$medium-and-up} {
  .featured-event {
    .content-wrap {
      padding: 2rem 0;
    }

    .image-wrap {
      position: relative;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.single-event {
  .featured-image {
    margin: 0;

    img {
      display: block;
    }
  }

  main {
    position: relative;
    background: $color-beige;
  }

  article {
    max-width: 940px;
    margin: 0 auto;
    padding: 2rem 1rem;
    background: $color-white;
  }

  h1 {
    font-size: 2rem;
    color: $brand-primary;
    font-weight: 400;
  }

  .kicker {
    color: $color-orange-a11y;
  }

  .details {
    color: $color-orange-a11y;
  }

  @media #{$medium-and-up} {
    .featured-image {
      position: relative;
      height: 390px;
      margin: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    main {
      padding-bottom: 4rem;
    }

    article {
      padding: 3rem 98px;
    }
  }
}
