nav {
  box-shadow: none;
  background-color: transparent;
}

.banner {
  background-color: $color-beige;
  z-index: 10;

  .logo {
    display: inline-block;
    color: $brand-primary;
    font-size: rem-calc(24);
    font-weight: 600;
    line-height: 1;
    margin: 1rem 0;
    padding: 0 15px;
    text-decoration: none;

    @media #{$large-and-up} {
      font-size: 1.7rem;
      max-width: 460px;
      margin: 2rem 0;
      letter-spacing: -2px;
    }
  }

  @media #{$medium-and-down} {
    > .container-wide {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      min-height: 0;
    }
  }

  .menu-trigger-wrapper {
    float: right;

    label {
      float: none;
    }
  }

  .search-wrapper {
    > .btn {
      display: none;
    }

    @media #{$large-and-up} {
      position: relative;
      display: flex;
      align-items: center;

      &__inner {
        display: none;
        position: absolute;
        top: calc(100% + 12px);
        right: 0;
        width: 350px;
        background-color: $color-teal;
        padding: 1rem;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.is-active {
          display: block;
          opacity: 1;
        }
      }

      > .btn {
        display: inline-block;
        border-color: transparent;
        color: $color-grey-light;
      }

      .wp-search {
        position: relative;
        margin-bottom: 0;

        input[type="search"] {
          border-color: transparent;
        }

        &::after {
          position: absolute;
          top: calc(-8px - 1rem);
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid $color-teal;
          content: '';
        }
      }
    }
  }

  .cta-link {
    padding: 0;
    text-align: left;

    a {
      background-color: $color-orange-a11y;
      border-color: $color-orange-a11y;
      color: $color-white;

      &:hover,
      &:focus {
        background-color: $color-white;
        color: $color-orange-a11y;
      }
    }

    @media #{$large-and-up} {
      margin-left: 1rem;
      text-align: right;
    }
  }

  .navbar {
    height: auto;
    background-color: $color-grey-dark;
    padding: 0;

    & > div {
      position: relative;
    }

    a {
      width: 100%;
      text-decoration: none;

      &:focus {
        outline-offset: 0;
      }
    }
  }

  .sub-menu {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 10px 10px rgba($color-black, 0.2);

    a {
      padding: 0.4rem 0.75rem;
      font-size: rem-calc(15);
      line-height: rem-calc(30);
    }
  }

  .flex, .menu-item-has-children {
    @media #{$medium-and-down} {
      flex-wrap: wrap;
    }
  }
}

@media #{$large-and-down} {
  .navbar-menu {
    display: none;

    .mobilenav-active & {
      display: block;
    }
  }
}

.nav {
  position: relative;

  &__primary {
    display: flex;
    flex: 1 1 auto;

    > .menu-item {
      height: auto;

      > a {
        display: flex;
        align-items: center;
        height: 100%;
        color: $color-white;
        padding: 0.5rem 25px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        font-size: rem-calc(14);
        font-weight: 600;
      }

      &-has-children a {
        cursor: pointer !important;
      }

      // Giving
      &.bg-orange > a {
        font-size: rem-calc(20);
        font-weight: normal;
        text-transform: none;
        background-color: $color-orange-a11y;
        color: white;

        &:hover,
        &:focus {
          background-color: darken($color-orange-a11y, 8%);
        }
      }

      // Impact
      &.bg-green > a {
        font-size: rem-calc(20);
        font-weight: normal;
        text-transform: none;
        background-color: $color-green-a11y;
        color: $color-white;

        &:hover,
        &:focus {
          background-color: darken($color-green-a11y, 8%);
        }
      }

      // Stories
      &.bg-blue > a {
        font-size: rem-calc(20);
        font-weight: normal;
        text-transform: none;
        background-color: $color-teal-a11y;
        color: white;

        &:hover,
        &:focus {
          background-color: darken($color-teal-a11y, 8%);
        }
      }
    }

    @media #{$large-and-up} {
      align-items: center;
      justify-content: flex-start;
      z-index: 0;

      &.nav {
        padding: 0 15px;
      }

      > .menu-item {
        height: 100%;
      }
    }
  }

  &__secondary {
    position: relative;

    > .menu-item {
      padding: 0;
      margin-right: 2rem;

      > a {
        border: 0;
        padding: 0;
        color: $brand-primary;
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: 600;

        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

@media #{$large-and-up} {
  .utility-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -4rem;
    right: 0;

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
