nav {
  box-shadow: none;
  background-color: transparent;
}

.banner {
  background-color: $color-beige;
  z-index: 10;

  .nav-primary {
    position: relative;
  }
}

.banner .logo {
  display: inline-block;
  padding: 0;
}

.banner .menu-trigger-wrapper {
  float: right;
}

.banner .menu-trigger-wrapper label {
  float: none;
}

.header-inline {
  .navbar {
    height: auto;
  }

  .logo {
    color: $brand-primary;
    font-size: rem-calc(24);
    font-weight: 600;
    line-height: 1;
    margin: 1rem 0;
    padding: 0 15px;
  }

  .navbar-menu {
    background-color: $color-grey-dark;
  }

  nav ul a {
    padding: 0.25rem 25px;
  }

  .sub-menu {
    width: 100%;
    max-width: 300px;
  }

  .sub-menu a {
    padding: 0.25rem 0.5rem;
    font-size: rem-calc(15);
    line-height: rem-calc(30);

    + .sub-menu {
      position: relative;
      height: auto;

      > li a {
        padding-left: 1rem;
      }
    }
  }

  .cta-link {
    padding: 0;
    text-align: left;
  }

  .cta-link a {
    background-color: $color-orange-a11y;
    border-color: $color-orange-a11y;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-orange-a11y;
    }
  }
}

.navbar-menu li.menu-item-has-children a {
  cursor: pointer;
}

.navbar-menu li:hover > a,
.navbar-menu li:focus > a,
.navbar-menu li.hover > a {
  text-decoration: none;
}

.nav__primary {
  position: relative;

  > .menu-item {
    height: 100%;
    font-weight: 600;

    > a {
      display: flex;
      align-items: center;
      height: 100%;
      color: $color-white;
      padding: 0.5rem 25px;
      line-height: 1.5;
      text-align: center;
    }
  }

  > .menu-item:nth-child(-n+3) {
    font-size: rem-calc(20);
  }

  > .menu-item:nth-child(n+4) > a {
    text-transform: uppercase;
    font-size: rem-calc(14);
  }

  // Giving
  > .menu-item.bg-orange > a {
    background-color: $color-orange-a11y;
    color: white;

    &:hover,
    &:focus {
      background-color: darken($color-orange-a11y, 8%);
    }
  }

  // Impact
  > .menu-item.bg-green > a {
    background-color: $color-green-a11y;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: darken($color-green-a11y, 8%);
    }
  }

  // Stories
  > .menu-item.bg-blue > a {
    background-color: $color-teal-a11y;
    color: white;

    &:hover,
    &:focus {
      background-color: darken($color-teal-a11y, 8%);
    }
  }
}

.nav__secondary {
  position: relative;

  > .menu-item {
    padding: 0;
    margin-right: 2rem;

    > a {
      border: 0;
      padding: 0;
      color: $brand-primary;
      font-size: rem-calc(14);
      text-transform: uppercase;
      font-weight: 600;

      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

.search-wrapper {
  > .btn {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .banner .logo {
    min-height: 0;
  }
}
@media #{$large-and-up} {
  .header-inline {
    .logo {
      font-size: 1.7rem;
      max-width: 460px;
      margin: 2rem 0;
      letter-spacing: -2px;
    }

    .navbar-menu {
      display: flex;
    }

    .cta-link {
      margin-left: 1rem;
      text-align: right;
    }

    .nav__primary {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      z-index: 0;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100vw;
        right: -100vw;
        z-index: -1;
        user-select: none;
        background-color: $color-grey-dark;
        content: '';
      }
    }
  }

  .utility-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.75rem;
    right: 0;
    padding: 0 15px;

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &__inner {
      display: none;
      position: absolute;
      top: calc(100% + 12px);
      right: 0;
      width: 350px;
      background-color: $color-teal;
      padding: 1rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      &.is-active {
        display: block;
        opacity: 1;
      }
    }

    > .btn {
      display: inline-block;
      border-color: transparent;
      color: $color-grey-light;
    }

    .wp-search {
      position: relative;
      margin-bottom: 0;

      input[type="search"] {
        border-color: transparent;
      }

      &::after {
        position: absolute;
        top: calc(-8px - 1rem);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $color-teal;
        content: '';
      }
    }
  }
}
