.page .main {
  margin-bottom: 0;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;

  @media #{$medium-and-up} {
    background-color: darken($brand-primary, 5%);
    min-height: 300px;
    padding: 0 1rem;
  }

  &__title {
    font-size: rem-calc(32);
    font-family: $sans-serif;
    font-weight: 300;
    line-height: 1.25;
  }

  &__tagline {
    font-size: rem-calc(32);
    font-family: $sans-serif;
    font-weight: 300;
    line-height: 1.25;
  }

  &__icon {
    width: 100%;
    max-width: 110px;
    margin-right: 24px;
    text-align: center;
    opacity: 0.5;
  }

  &::after {
    display: block;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: calc(1200px + 2rem);
    height: 100%;
    margin: 0 auto;
    background-image: url('../images/textures/texture-triangles.svg');
    background-repeat: no-repeat;
    background-size: 35vw;
    background-position: right 1rem top;
    content: '';
    z-index: 5;
    pointer-events: none;

    @media #{$medium-and-up} {
      background-size: 350px;
    }
  }

  .container {
    position: relative;
    background-color: rgba($brand-primary, 0.9);
    color: white;
    padding: 2rem calc(2rem + 20px);
    text-align: left;
    z-index: 1;
  }
}

.page-header--has-img {
  background-color: darken($brand-primary, 5%);
  min-height: 300px;
  padding: 0 1rem;
}

.page-header--w-icon {
  padding-top: 3rem;
  margin-bottom: 3rem;

  .container {
    display: flex;
    align-items: center;
  }

  &__title {
    @extend .h4;
    @extend .mb-2;

    text-transform: uppercase;
    font-size: 1.125rem !important;
    color: $color-teal-light;
  }
}

.page-header--w-intro {
  position: relative;
  background-color: $brand-primary;
  color: white;
  margin-bottom: 3rem;

  @media #{$medium-and-up} {
    min-height: 220px;
  }

  .archive-wrap + {
    margin-bottom: 0;
  }

  .container {
    padding: 0;
    background-color: transparent;

    &::after {
      display: block;
      position: absolute;
      top: -1rem;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: calc(1200px + 2rem);
      height: 100%;
      margin: 0 auto;
      background-image: url('../images/textures/texture-triangles.svg');
      background-repeat: no-repeat;
      background-size: 35vw;
      background-position: right 1rem top;
      content: '';
      z-index: 5;
      pointer-events: none;

      @media #{$medium-and-up} {
        background-size: 350px;
      }
    }
  }

  &.page-header--has-event {
    .container::after {
      display: none;
    }

    .col:last-of-type {
      padding-bottom: 0;
    }
  }

  .col:last-of-type {
    padding-bottom: 3rem;
  }

  .has-post-thumbnail & {
    .flex {
      justify-content: flex-start;
    }

    .col {
      margin-left: 0;

      &:first-child {
        padding-left: 0;
      }
    }

    .thumbnail-container {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  h2, h3, a {
    color: inherit;
  }

  a:not(.btn) {
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration-style: double;
    }
  }
}

.template-landing.giving .page-header {
  > .container {
    background-color: rgba($color-orange-a11y, 0.9);

    h1 {
      color: $color-orange-light;
    }
  }
}

.template-landing.impact .page-header {
  > .container {
    background-color: rgba($color-green-a11y, 0.9);

    h1 {
      color: $color-green-light;
    }
  }
}

.page-template-default .page-header {
  margin-bottom: 0;
}

.single-award,
.page-template-default {
  main {
    background-color: $color-beige;
  }

  .entry-content {
    max-width: 940px;
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: white;
  }

  @media #{$large-and-up} {
    article {
      padding-bottom: 4rem;
    }

    .entry-content {
      padding: 2rem;
    }
  }
}

.entry-footer {
  background-color: $color-beige;

  .container {
    background-color: $color-beige-light;
  }

  h2 {
    color: $brand-primary;
  }

  h3 {
    font-family: $sans-serif;
  }

  p, dd {
    margin-top: 0;
    font-size: 1rem;
  }

  a {
    color: inherit;
  }

  &__image {
    line-height: 0;
  }

  &__details {
    padding: 1rem;
  }

  @media #{$large-and-up} {
    padding: 0 0 3rem;
  }
}

.list-partners {
  list-style-type: none;

  li::before {
    display: inline-block;
    content: '>' !important;
  }

  a {
    color: inherit;
  }
}

@media #{$medium-and-up} {
  .list-partners {
    column-count: 2;
  }
}

.small-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 390px;
  margin-left: auto;
  background-color: $color-white;
  color: $color-green-a11y;
  padding: 1rem;

  &__text {
    padding: 1.5rem;
    text-align: center;
    font-family: $sans-condensed;
    font-weight: 700;
    text-transform: uppercase;

    + p {
      margin: 0;
    }
  }

  img {
    width: 115px;
  }
}

.fl-module-info-box,
.fl-module-info-box > .fl-module-content,
.fl-module-info-box > .fl-module-content > .uabb-infobox {
  height: 100%;
}

.fl-module-info-box > .fl-module-content > .uabb-infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($color-blue, 0.9);

  .uabb-infobox-text {
    color: $color-white;
  }
}

// BB Number Counter
.fl-number {
  background-color: $color-grey-light;
  color: $color-beige-darker;
}

// Accordions
.fl-accordion .fl-accordion-item {
  margin-bottom: 20px;
}
