.page .main {
  margin-bottom: 0;
}

.page-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  background-size: cover;
  background-position: center;

  &__title {
    font-size: rem-calc(32);
    font-weight: normal;
  }

  &__tagline {
    font-size: rem-calc(32);
    font-family: "Open Sans", $sans-serif;
    font-weight: 300;
    line-height: 1.25;
  }

  &__icon {
    width: 100%;
    max-width: 110px;
    margin-right: 24px;
    text-align: center;
    opacity: 0.5;
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: calc(1200px);
    height: 100%;
    margin: 0 auto;
    background-image: url('../images/textures/texture-triangles.svg');
    background-repeat: no-repeat;
    background-size: 350px 260px;
    background-position: right top;
    content: '';
    z-index: 5;
    pointer-events: none;
  }

  .container {
    position: relative;
    background-color: rgba(137, 121, 102, 0.9);
    color: white;
    padding: 2rem;
    text-align: left;
    z-index: 1;
  }

  h1 {
    font-size: rem-calc(32);
    font-weight: 300;
  }
}

.page-header--w-icon {
  min-height: 390px;
  margin-bottom: 3rem;

  .container {
    display: flex;
    align-items: center;
    background-color: $brand-primary;
  }

  &__title {
    @extend .h4;
    @extend .mb-2;

    font-size: 1.125rem !important;
    color: #98C7CF;
  }
}

.page-header--w-intro {
  position: relative;
  background-color: $brand-primary;
  color: white;
  padding: 3rem 0;
  margin-bottom: 3rem;

  .archive-wrap + {
    margin-bottom: 0;
  }

  .container {
    padding: 0;
    background-color: transparent;
  }

  &::after {
    display: block;
    position: absolute;
    top: -48px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    background-image: url('../images/textures/texture-triangles.svg');
    background-repeat: no-repeat;
    background-size: 350px 260px;
    background-position: calc(100% - 1rem) top;
    content: '';
    pointer-events: none;
  }
}

.template-audience .page-header,
.template-narrow-w-footer-contact .page-header {
  > .container {
    max-width: 940px;
  }
}

.template-narrow-w-footer-contact .page-header {
  margin-bottom: 0;
}

.single-award,
.template-narrow-w-footer-contact {
  main {
    background-color: #E7E4E0;
  }

  article {
    padding-bottom: 4rem;
  }

  .entry-content,
  .entry-footer {
    max-width: 940px;
    margin: 0 auto;
  }

  .entry-content {
    padding: 2rem 0;
    background-color: white;
  }

  .entry-footer {
    padding: 1rem;
    background-color: #F5F4F3;

    h2 {
      color: $brand-primary;
      font-family: "Open Sans Condensed", $sans-serif;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    &__image {
      line-height: 0;
    }

    &__details {
      padding: 1rem;
    }
  }

  @media #{$large-and-up} {
    .entry-content {
      padding: 3rem 98px;
    }

    .entry-footer {
      padding: 2rem;

      &__details {
        padding: 48px 36px;
      }
    }
  }
}

.tri-stats .fl-rich-text {
  background-color: #F1F1F1;
  padding: 0.75rem;
  text-align: center;

  .h1 {
    font-family: 'Open Sans';
  }

  small {
    line-height: 1.1;
  }
}

.list-partners {
  list-style-type: none;

  li::before {
    display: inline-block;
    content: '>' !important;
  }

  a {
    color: inherit;
  }
}

@media #{$medium-and-up} {
  .list-partners {
    column-count: 2;
  }
}

.small-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 390px;
  margin-left: auto;
  background-color: white;
  color: #AFBD00;
  padding: 1rem;

  &__text {
    padding: 1.5rem;
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    text-transform: uppercase;

    + p {
      margin: 0;
    }
  }

  img {
    width: 115px;
  }
}

.fl-module-info-box,
.fl-module-info-box > .fl-module-content,
.fl-module-info-box > .fl-module-content > .uabb-infobox {
  height: 100%;
}

.fl-module-info-box > .fl-module-content > .uabb-infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 82, 95, 0.9);

  .uabb-infobox-text {
    color: white;
  }
}

// BB Number Counter
.fl-number {
  background-color: #F1F1F1;
  color: rgba(112, 112, 112, 1);
}

// Accordions
.fl-accordion .fl-accordion-item {
  margin-bottom: 30px;
}

// Tweets
.tweets {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__heading {
    @extend .h2;

    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }

  &__wrap {
    padding: 2rem;
    background-color: $color-beige;
  }

  &__item {
    padding: 0 0.5rem;
  }

  &__item:not(:last-of-type()) {
    margin-bottom: 1.5rem;
  }

  .twitter-stat {
    margin-right: 2rem;

    &::before {
      display: inline-block;
      position: relative;
      top: 2px;
      margin-right: 0.5rem;
      background-size: 18px 18px;
      width: 18px;
      height: 18px;
      content: '';
    }

    &--like::before {
      background-image: url('../images/icons/icon-twitter-like.svg');
    }

    &--retweet::before {
      background-image: url('../images/icons/icon-twitter-retweet.svg');
    }
  }

  @media #{$medium-and-up} {
    &__wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__item:not(:last-of-type()) {
      margin-bottom: 0;
    }
  }
}
