.single-entry {
  background-color: $color-beige-light;
  border: 2px solid transparent;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  &__label {
    @extend .h4;

    display: block;
    background-color: $color-grey;
    color: $color-beige-light;
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1;
    width: 100%;
  }

  &__title {
    @extend .h2;
    @extend .mb-0;

    color: inherit;
    text-transform: none;

    a {
      color: inherit;
    }
  }

  &__image {
    padding-top: 1rem;
  }

  &__meta {
    margin-bottom: 1rem;
    font-size: 0.9em;
  }

  &[data-type="blog"] {
    background-color: $color-beige;

    h2 {
      color: $color-beige-darker;
    }

    .single-entry__label {
      background-color: $color-beige-darker;
      color: $color-beige-light;
    }
  }

  &[data-type="stories"] {
    background-color: $color-teal-light;

    h2 {
      color: $color-blue;
    }

    .single-entry__label {
      background-color: $color-blue;
      color: $color-teal-light;
    }
  }

  // &[data-cat="environmental-conservation"] {
  //   background-color: $color-teal-light;
  //
  //   h2 {
  //     color: $color-blue;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-blue;
  //     color: $color-teal-light;
  //   }
  // }
  //
  // &[data-cat="regional-cultural-arts"] {
  //   background-color: $color-orange-light;
  //
  //   h2 {
  //     color: $color-orange-a11y;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-orange-a11y;
  //     color: $color-orange-light;
  //   }
  // }
  //
  // &[data-cat="youth-literacy"] {
  //   background-color: $color-green-light;
  //
  //   h2 {
  //     color: $color-green-a11y;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-green-a11y;
  //     color: $color-green-light;
  //   }
  // }
  //
  // &[data-cat="community-development"] {
  //   background-color: $color-beige;
  //
  //   h2 {
  //     color: $color-beige-darker;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-beige-darker;
  //     color: $color-beige-light;
  //   }
  // }

  a.read-more {
    display: block;
    font-style: italic;
    color: inherit;
  }

  @media #{$medium-and-up} {
    display: flex;

    &__summary {
      flex-grow: 1;
    }

    &__image {
      flex-shrink: 0;
      padding-left: 2rem;
      padding-top: 0;
      max-width: 320px;
      width: 100%;
    }
  }
}

.single-post {
  header {
    text-align: left;
  }

  .main {
    background-color: $color-beige;

    @media #{$large-and-up} {
      padding-bottom: 4rem;
    }
  }

  .page-header {
    text-align: left;
    padding: 0 1rem;
    min-height: 390px;

    .container {
      background-color: rgba($color-blue-dark, 0.8);
    }

    .entry-title {
      font-weight: 400;
      margin: 0.5rem 0;
    }

    .entry-primary-term {
      color: $color-teal-light;
      text-transform: uppercase;
      font-size: 1.125rem !important;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    @media #{$large-and-up} {
      .container {
        padding: 2rem 80px;
      }
    }
  }

  .entry-content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    background-color: $color-white;
    padding: 2rem 1rem;

    @media #{$large-and-up} {
      padding: 3rem 98px;
    }
  }
}
