.single-entry {
  background-color: $color-beige-light;
  border: 2px solid transparent;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  &__label {
    @extend .h4;

    display: block;
    background-color: $color-grey;
    color: $color-beige-light;
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1;
    width: 100%;
  }

  &__title {
    @extend .h2;
    @extend .mb-0;

    color: inherit;
    text-transform: none;

    a {
      color: inherit;
    }
  }

  &__image {
    padding-top: 1rem;
  }

  &__meta {
    margin-bottom: 1rem;
    font-size: 0.9em;
  }

  &[data-type="blog"] {
    background-color: $color-beige;

    h2 {
      color: $color-beige-darker;
    }

    .single-entry__label {
      background-color: $color-beige-darker;
      color: $color-beige-light;
    }
  }

  &[data-type="stories"] {
    background-color: $color-teal-light;

    h2 {
      color: $color-blue;
    }

    .single-entry__label {
      background-color: $color-blue;
      color: $color-teal-light;
    }
  }

  // &[data-cat="environmental-conservation"] {
  //   background-color: $color-teal-light;
  //
  //   h2 {
  //     color: $color-blue;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-blue;
  //     color: $color-teal-light;
  //   }
  // }
  //
  // &[data-cat="regional-cultural-arts"] {
  //   background-color: $color-orange-light;
  //
  //   h2 {
  //     color: $color-orange-a11y;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-orange-a11y;
  //     color: $color-orange-light;
  //   }
  // }
  //
  // &[data-cat="youth-literacy"] {
  //   background-color: $color-green-light;
  //
  //   h2 {
  //     color: $color-green-a11y;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-green-a11y;
  //     color: $color-green-light;
  //   }
  // }
  //
  // &[data-cat="community-development"] {
  //   background-color: $color-beige;
  //
  //   h2 {
  //     color: $color-beige-darker;
  //   }
  //
  //   .single-entry__label {
  //     background-color: $color-beige-darker;
  //     color: $color-beige-light;
  //   }
  // }

  a.read-more {
    display: block;
    font-style: italic;
    color: inherit;
  }

  @media #{$medium-and-up} {
    display: flex;

    &__summary {
      flex-grow: 1;
    }

    &__image {
      flex-shrink: 0;
      padding-left: 2rem;
      padding-top: 0;
      max-width: 320px;
      width: 100%;
    }
  }
}

.single-post header {
  text-align: left;
}

.single-post .page-header {
  padding: 0 1rem;
  min-height: 390px;

  a {
    color: inherit;
    text-decoration: underline;
  }

  .entry-title {
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .entry-primary-term {
    color: $color-teal-a11y;
  }

  @media #{$large-and-up} {
    .container {
      padding: 2rem 80px;
    }
  }
}

.single-post .entry-content {
  margin-bottom: 0;

  @media #{$large-and-up} {
    padding: 40px 80px;
  }
}

.single-post .content {
  background-color: $color-beige;
}

.single-post article {
  > .entry-content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    background-color: darken($brand-primary, 10);
    color: $color-white;
    text-align: left;
  }

  .entry-content {
    background-color: $color-white;
  }
}

// Awards (Scholarships & Grants)
.single-award .entry-content {
  h2 {
    @extend .h4;

    letter-spacing: 0;
    margin-bottom: 0;
  }

  .award-detail-text {
    @extend .h2;

    text-transform: none;
    letter-spacing: 0;
    color: $color-orange-a11y;
  }
}

.single-award .entry-pre-footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: $color-beige-dark;
  color: $color-white;
}
