.single-entry {
  background-color: #F5F4F3;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  &__label {
    @extend .h4;

    display: block;
    background-color: $color-grey;
    color: #F5F4F3;
    padding: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1;
    width: 100%;
  }

  &__title {
    @extend .h2;
    @extend .mb-0;

    color: inherit;
    text-transform: none;
  }

  &__image {
    padding-top: 1rem;
  }

  &__meta {
    margin-bottom: 1rem;
  }

  &--environmental-conservation {
    background-color: transparentize(#CCE3E8, 0.4);

    h2 {
      color: #00525F;
    }

    .single-entry__label {
      background-color: #00525F;
      color: #CCE3E8;
    }
  }

  &--youth-literacy {
    background-color: transparentize(#DFE5A3, 0.4);

    h2 {
      color: #7A7B0C;
    }

    .single-entry__label {
      background-color: #7A7B0C;
      color: #DFE5A3;
    }
  }

  &--community-development {
    background-color: #E7E4E0;

    h2 {
      color: #5A4F42;
    }

    .single-entry__label {
      background-color: #5A4F42;
      color: #E7E4E0;
    }
  }

  @media #{$small-and-up} {
    display: flex;

    &__summary {
      flex-grow: 1;
    }

    &__image {
      padding-left: 2rem;
      padding-top: 0;
      max-width: 320px;
      width: 100%;
    }
  }
}

.single-post header {
  text-align: left;
}

.single-post .page-header {
  padding: 0 1rem;
  min-height: 390px;

  a {
    color: inherit;
    text-decoration: underline;
  }

  .entry-title {
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .entry-primary-term {
    color: #98C7CF;
  }

  @media #{$large-and-up} {
    .container {
      max-width: 940px;
      padding: 2rem 80px;
    }
  }
}

.single-post .entry-content {
  margin-bottom: 0;

  @media #{$large-and-up} {
    padding: 40px 80px;
  }
}

.single-post .content {
  background-color: $color-beige;
}

.single-post article {
  > .entry-content {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    background-color: darken($brand-primary, 10);
    color: white;
    text-align: left;
  }

  .entry-content {
    background-color: white;
  }
}

// Awards (Scholarships & Grants)
.single-award .entry-content {
  h2 {
    @extend .h4;

    letter-spacing: 0;
    margin-bottom: 0;
  }

  .award-detail-text {
    @extend .h2;

    text-transform: none;
    letter-spacing: 0;
    color: $color-orange;
  }
}

.single-award .entry-pre-footer {
  max-width: 940px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: #897966;
  color: white;
}
